node_modules/
dist/
.turbo/
.bun/
bun.lockb
.github/workflows/*.log
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db

cursorrules
docs/design.md
docs/